{% extends "base.html" %}
{% block container %}
<div class="container catalog">
  <div class="row">
    <div class="col-md-4 card">
      <h1>Categories</h1>
      <ul>
      {% for category in catalog %}
        <li>
          <a href="{{url_for('categoryItems', category_id=category.id)}}">{{category.name}}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
    <div class="col-md-8">
      {% if 'username' in session %}
        <h1><a href="{{url_for('addItem')}}">Add an Item</a></h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
