{% extends "base.html" %}
{% block container %}
<div class="container catalog">
  <div class="row">
    <div class="col-md-4">
      <h1>Categories</h1>
        {% for category in categories %}
        <li>
        <a href="{{url_for('categoryItems', category_id=category.id)}}">{{category.name}}</a>
        </li>
        {% endfor %}
    </div>
    <div class="col-md-8">
      <a href="{{url_for('addItem')}}">Add an Item to this Category</a>
      <h1>Items in Category</h1>
      {% for item in items %}
      <p>Item name: {{item.name}}</p>
      <p>Item description: {{item.description}}</p>
      <p>Category: {{item.category.name}}</p>
      <a class="btn btn-default" href="{{url_for('editItem', item_id=item.id, category_id=item.category.id)}}">Edit</a>
      <a class="btn btn-default" href="{{url_for('deleteItem', item_id=item.id)}}">Delete</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
