<html>
<body>
  <div class="">
    <h1>Categories</h1>
    {% for e in categories %}
    <li>
      <a href={{url_for('categoryItems', category_id=e.id)}}>{{e.name}}</a>
    </li>
    {% endfor %}
  </div>
  <div class="">
    <a href={{url_for('addItem')}}>Add an Item to this Category</a>
  </div>
  <div>
    <h1>Items in Category</h1>
    {% for e in items %}
    <p>Item name: {{e.name}}</p>
    <p>Item description: {{e.description}}</p>
    <p>Category: {{e.category.name}}</p>
    <a href={{url_for('editItem', item_id=e.id, category_id=e.category.id)}}>Edit</a>
    <a href={{url_for('deleteItem', item_id=e.id)}}>Delete</a>
    {% endfor %}
  </div>
</body>
</html>
