{% extends "base.html" %}
{% block container %}
<div class="catalog container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Delete Item</h1>
  </div>
  <div class="panel-body">
    <p>Are you sure you want to delete this item?</p>
    <p>{{item.name}}</p>
    <form class="" action="{{url_for('deleteItem', item_id=item.id)}}" method="post">
      <input class="btn btn-default" type="Submit" value="Delete">
      <a class="btn btn-default" href="{{url_for('catalogCategories')}}">Cancel</a>
    </form>
  </div>
</div>
</div>
{% endblock %}
