{% extends "base.html" %}
{% block container %}
<h1> Edit Item </h1>
<form action="{{url_for('editItem', category_id=category_id, item_id=item_id)}}" method='POST'>
  <p>Current Item Name: {{item.name}}</p>
  <p>New Name:</p>
  <input type="text" size="30" name="name" value="{{item.name}}">
  <p>Current Description: {{item.description}}</p>
  <p>New Description:</p><input type="text" name="description" value="{{item.description}}">
  <input class="btn btn-default" type="submit" value="Submit">
  <a class="btn btn-default" href="{{url_for('categoryItems', category_id=category_id)}}">Cancel</a>
</form>
{% endblock %}
